.drink-section {
  display: flex;
  justify-content: center;
  color: $white;
  background-color: $black;

  .wrapper {
    display: flex;
    flex-direction: column;
    max-width: 700px;
  }

  &_header {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    display: flex;
    gap: 1rem;
    align-items: center;

    span {
      font-weight: 100;
      font-style: italic;
    }
  }

  &_drink-items {
    width: 100%;
    display: grid;
    gap: 2rem;
  }
}
