.homepage-partners {
  background-color: $white;
  width: 100%;
  padding: 4rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }

  &_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    &_companies {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: fit-content;

      li {
        display: flex;
        justify-content: center;

        img {
          mix-blend-mode: multiply;
        }
      }
    }
  }

  &_right {
    font-size: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  @media (min-width: 769px) {
    padding-top: 10rem;

    .wrapper {
      flex-direction: row;
      gap: 2rem;
    }

    &_left,
    &_right {
      max-width: 40rem;
      height: fit-content;
    }

    &_left {
      &_companies {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }
}
