@import "homepage";
@import "menu-page";
@import "error-page";

.page {
  animation: fadeIn 500ms ease-in forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fixed-background {
  @media (min-width: 769px) {
    background-attachment: fixed;
  }
}